/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #65de92; /* Header arka plan rengi */
  color: #353535; /* Header metin rengi */
  padding: 1px; /* Header iç kenar boşluğu */
}

header h2 {
  text-align: left;
  margin-left: 5px;
  font-size: 32px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #65de92; /* Footer arka plan rengi */
  color: #353535; /* Footer metin rengi */
  padding: 1px;
}

td{
  font-size: 18px;
  margin-top: 20px;
}

.editing{
  background-color: #65de92;
}

tr:hover {
  cursor: pointer;
}



/* html, body {
  height: 100%;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .nav {
  margin-bottom: 20px;
}

.container .form-outline {
  margin-bottom: 15px;
} */